.card{
    width: 500px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.card-builder {
    margin: 20px auto;
}

.secc-iconos{
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.plantilla{
    margin: auto;
    justify-content: space-between;
}
.title-input{
    margin-bottom: 10px;
}

.separador {
    height: 2px;
    background-color: blue;
    border-color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    text-align: center;
}

.btn-new{
    margin-bottom: 15px;
}
#contenedor-bloques{
    padding-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
    
    justify-content: center;
}
@media screen and (max-width: 1036px) {
    #contenedor-bloques{
        grid-template-columns: auto;
    }
  }