.card{
    width: 500px !important;
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.secc-iconos{
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.descripcion{
display: block;
}
.descripcion-edit:active{
    display: block;
    }
.descripcion-edit{
    display: none;
}

.separador {
    height: 2px;
    background-color: blue;
    border-color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    text-align: center;
}