.card{
    width: 500px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-builder {
    margin: 20px auto;
}

.secc-iconos{
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.descripcion{
display: none;
}
.descripcion-edit:active{
    display: block;
    }
.descripcion-edit{
    display: block;
}

.separador {
    height: 2px;
    background-color: blue;
    border-color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    text-align: center;
}