body{
    background-color: #eeeef1;
background: linear-gradient(90deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.1) 100%);

}

.card{
    width: 500px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    background: rgba(124, 203, 229, 0.62);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.5px);
-webkit-backdrop-filter: blur(6.5px);
border: 1px solid rgba(124, 203, 229, 0.8);
}
.titulo{
    color: #29a9d0;
}
.card-builder {
    margin: 20px auto;
}

.secc-iconos{
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.plantilla{
    margin: auto;
    justify-content: space-between;
}
.title-input{
    margin-bottom: 10px;
}

.separador {
    height: 2px;
    background: rgb(218,218,218);
background: linear-gradient(90deg, rgba(218,218,218,1) 0%, rgba(41,169,208,1) 54%, rgba(218,218,218,1) 100%);
    border-color: #29a9d0;
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    text-align: center;
}

.btn-new{
    margin-bottom: 15px;
}
#contenedor-bloques{
    padding-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
    
    justify-content: center;
}
@media screen and (max-width: 1036px) {
    #contenedor-bloques{
        grid-template-columns: auto;
    }
  }
  .mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, color 0.3s ease;
}

.card {
    transition: background 0.3s ease, color 0.3s ease;
}

button {
    transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.card-body {
    transition: all 0.4s ease-in-out;
}

.collapse {
    display: none;
    opacity: 0;
    transform: scaleY(0);
}

.collapse.show {
    display: block;
    opacity: 1;
    transform: scaleY(1);
}
/* 🎬 Entrada animada */
@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateX(-500px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in {
    animation: fadeInSlide 0.5s ease-out;
}

/* 🎬 Salida animada */
@keyframes fadeOutSlide {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(500px);
    }
}

.fade-out {
    animation: fadeOutSlide 0.5s ease-in forwards;
}
